In [4]:
#This cell will combine several .csvs from main.py into 1 .csv
import pandas as pd
import glob

# Specify the folder containing the CSV files
folder_path = #enter your filepath here

# List all CSV files in the folder
csv_files = glob.glob(folder_path + '/*.csv')

# Initialize an empty list to store the DataFrames
dataframes = []

# Loop through the CSV files
for file in csv_files:
    # Read the current CSV file into a DataFrame
    df = pd.read_csv(file)
    
    # Ensure the columns are in the correct order
    df = df[['company', 'job_title', 'link', 'salary', 'posted_date']]
    
    # Append the DataFrame to the list
    dataframes.append(df)

# Concatenate all DataFrames in the list into a single DataFrame
combined_df = pd.concat(dataframes, ignore_index=True)

# Save the combined DataFrame to a new CSV file
combined_df.to_csv('all_listings.csv', index=False)

In [1]:
#this cell groups job listings by companies, 
import pandas as pd

# Read the input CSV file
input_file = "leads.csv"
df = pd.read_csv(input_file)

# Assuming you have a DataFrame named df, and the first column's name is 'company', and the third column's name is 'third_column', and the fifth column's name is 'date'

# Convert the 'date' column to datetime objects
df['date'] = pd.to_datetime(df['posted_date'], format='%m-%d-%Y')

# Group the DataFrame by the 'company' column, then use the 'agg' function to aggregate the data
result = df.groupby('company').agg(
    count=('company', 'count'),
    link=('link', 'first'),  # Replace 'first' with the desired aggregation function, e.g., 'mean', 'sum', 'max', etc.
    most_recent_listing=('date', 'max')
)

# Reset the index
result = result.reset_index()
result.to_csv('hotlist.csv', index=False)

In [2]:
result

,company,count,link,most_recent_listing
0,"7-Eleven, Inc.",1,http://indeed.com/rc/clk?jk=386e893baf0387b2&f...,2023-04-03
1,ABB,1,http://indeed.com/rc/clk?jk=82fa7591f829d0f6&f...,2023-04-28
2,ABS Consulting,1,http://indeed.com/rc/clk?jk=2ee7a2d6b99dcc1b&f...,2023-04-27
3,AMN Healthcare,1,http://indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN...,2023-04-20
4,APTIM Corp.,1,http://indeed.com/rc/clk?jk=564594b16c3c7a9b&f...,2023-04-20
...,...,...,...,...
608,Zyston LLC,1,http://indeed.com/rc/clk?jk=a3b080e9a9fbd0e8&f...,2023-04-28
609,bp,5,http://indeed.com/rc/clk?jk=f7dde14bce0c3443&f...,2023-04-29
610,deugro group,1,http://indeed.com/rc/clk?jk=aa1b18e09b37ab12&f...,2023-04-20
611,eXp Realty,1,http://indeed.com/rc/clk?jk=c49279fa6606268d&f...,2023-05-03
612,insightsoftware,1,http://indeed.com/rc/clk?jk=9ee33b333b1f996b&f...,2023-04-04